<div class="about-overview"> 
    <div class="about">
        <h1 class="about-title"> Projects</h1>
        
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card h-100">
              <img src="/assets/ASL.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="/assets/ASL.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a short card.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="/assets/ASL.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">ASL Interpreter</h5>
                <p class="card-text">Built a real-time interpreter that converts ASL into text</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="skills"> 
        <h1 class="skills-title"> Skills </h1>
        <!-- <h3> My name is Terry and I'm a software developer. </h3> -->
        <li> HTML </li>
        <li> CSS </li> 
        <li> Angular </li> 
        <li> Typescript </li>
        <li> Java </li>
        <li> Python </li>
        <li> GCP </li>
        <li> Unity </li>
        <li> C# </li>
        <li> C </li>
        <li> Git </li>

    </div>
    <div class="Courses"> 
    

    </div>
</div>