body { font-family: sans-serif; }

.scene {
  max-width: 400px;
  max-height: 660px;
  min-width: 300px;
  min-height: 460px;
  // margin: 40px 0;
  perspective: 600px;
  // display: flex;
}

.cards{
  display: flex;
  width: 80vw;
  // background-color: black;
  // position: absolute;
  justify-content: space-between;
  // justify-content: ;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  padding: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  font-weight: bold;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__face--front {
  background: rgba(130, 130, 130, 0.4);
  // z-index: 5;
}

.card__face--back {

  margin-left: -40px;
  background: rgba(130, 130, 130, 0.4);
  transform: rotateY(180deg);
}
