
<div class="scene scene--card">
  <!-- Make container here? -->
  <div class="card"#card1 (click) = 'flipCard1()'>
    <section class="mx-auto my-5" style="max-width: 23rem;">
        
      <div class="testimonial-card mt-2 mb-3">
        <div class="card-up aqua-gradient"></div>
        <div class="avatar mx-auto white">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2831%29.jpg" class="rounded-circle img-fluid"
            alt="woman avatar">
        </div>
        <div class="card-body text-center">
          <h4 class="card-title font-weight-bold">Martha Smith</h4>
          <hr>
          <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
            adipisci</p>
        </div>
      </div>
      
    </section>
  <div class="card__face card__face--back">
    <section class="mx-auto my-5" style="max-width: 23rem;">
        
      <div class=" testimonial-card mt-2 mb-3">
        <div class="card-up aqua-gradient"></div>
        <div class="avatar mx-auto white">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2831%29.jpg" class="rounded-circle img-fluid"
            alt="woman avatar">
        </div>
        <div class="card-body text-center">
          <h4 class="card-title font-weight-bold">Test</h4>
          <hr>
          <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
            adipisci</p>
        </div>
      </div>
      
    </section>
    </div>
  </div>

  <div class="container-2">
  <div class="card"#card2 (click) = 'flipCard2()'>
    <section class="mx-auto my-5" style="max-width: 23rem;">
        
      <div class="testimonial-card mt-2 mb-3">
        <div class="card-up aqua-gradient"></div>
        <div class="avatar mx-auto white">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2831%29.jpg" class="rounded-circle img-fluid"
            alt="woman avatar">
        </div>
        <div class="card-body text-center">
          <h4 class="card-title font-weight-bold">Martha Smith</h4>
          <hr>
          <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
            adipisci</p>
        </div>
      </div>
      
    </section>
  <div class="card__face card__face--back">
    <section class="mx-auto my-5" style="max-width: 23rem;">
        
      <div class=" testimonial-card mt-2 mb-3">
        <div class="card-up aqua-gradient"></div>
        <div class="avatar mx-auto white">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2831%29.jpg" class="rounded-circle img-fluid"
            alt="woman avatar">
        </div>
        <div class="card-body text-center">
          <h4 class="card-title font-weight-bold">Test</h4>
          <hr>
          <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
            adipisci</p>
        </div>
      </div>
      
    </section>
  </div>
  </div>

</div>


<div class="container-3">
  <div class="card"#card3 (click) = 'flipCard3()'>
    <section class="mx-auto my-5" style="max-width: 23rem;">
        
      <div class="testimonial-card mt-2 mb-3">
        <div class="card-up aqua-gradient"></div>
        <div class="avatar mx-auto white">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2831%29.jpg" class="rounded-circle img-fluid"
            alt="woman avatar">
        </div>
        <div class="card-body text-center">
          <h4 class="card-title font-weight-bold">Martha Smith</h4>
          <hr>
          <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
            adipisci</p>
        </div>
      </div>
      
    </section>
  <div class="card__face card__face--back">
    <section class="mx-auto my-5" style="max-width: 23rem;">
        
      <div class=" testimonial-card mt-2 mb-3">
        <div class="card-up aqua-gradient"></div>
        <div class="avatar mx-auto white">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2831%29.jpg" class="rounded-circle img-fluid"
            alt="woman avatar">
        </div>
        <div class="card-body text-center">
          <h4 class="card-title font-weight-bold">Test</h4>
          <hr>
          <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
            adipisci</p>
        </div>
      </div>
      
    </section>
  </div>
  </div>

</div>

  </div>

