

<!-- Figure out why card 1 is responsive buyt nothing else is lol -->

<div class="scene scene--card">
  <!-- Make container here? -->
  <div class="card"#card1 (click) = 'flipCard1()'>
    <section class="mx-auto my-5 " style="max-width: 23rem;">
        
      <div class="testimonial-card mt-2 mb-3">
        <div class="card-up aqua-gradient"></div>
        <div class="avatar mx-auto white">
          <img src="\assets\JD_logo.png" class="rounded-circle img-fluid"
            alt="woman avatar">
        </div>
        <div class="card-body frontCard text-center">
          <h4 class="card-title font-weight-bold">Fullstack Developer Intern</h4>
          <hr>
          <p><b>J.D. Power</b> </p>
          <p><i class="fas fa-quote-left"> May 2022 - Aug 2023</i></p>
        </div>
      </div>
      
    </section>
  <div class="card__face card__face--back">
    <section class="mx-auto my-5" style="max-width: 23rem;">
        
      <div class=" testimonial-card mt-2 mb-3">
        <div class="card-up aqua-gradient"></div>
        <div class="avatar mx-auto white">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2831%29.jpg" class="rounded-circle img-fluid"
            alt="woman avatar">
        </div>
        <div class="card-body text-center">
          <h4 class="card-title font-weight-bold">Test</h4>
          <hr>
          <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
            adipisci</p>
        </div>
      </div>
      
    </section>
    </div>
  </div>

  
  <div class="container-2">
  <div class="card"#card2 (click) = 'flipCard2()'>
    <section class="mx-auto my-5" style="max-width: 23rem;">
        
      <div class="testimonial-card mt-2 mb-3">
        <div class="card-up aqua-gradient"></div>
        <div class="avatar mx-auto white">
          <img src="\assets\CRA_logo.png" class="rounded-circle img-fluid"
            alt="woman avatar">
        </div>
        <div class="card-body text-center">
          <h4 class="card-title font-weight-bold frontCard">I.T. Intern</h4>
          <hr>
          <p><b>Canada Revenue Agency</b></p>
          <p><i class="fas fa-quote-left">May 2021 - Dec 2022</i> </p>
        </div>
      </div>
      
    </section>
  <div class="card__face card__face--back">
    <section class="mx-auto my-5" style="max-width: 23rem;">
        
      <div class=" testimonial-card mt-2 mb-3">
        <div class="card-up aqua-gradient"></div>
        <div class="avatar mx-auto white">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2831%29.jpg" class="rounded-circle img-fluid"
            alt="woman avatar">
        </div>
        <div class="card-body text-center">
          <h4 class="card-title font-weight-bold">Test</h4>
          <hr>
          <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
            adipisci</p>
        </div>
      </div>
      
    </section>
  </div>
  </div>

</div>


<div class="container-3">
  <div class="card"#card3 (click) = 'flipCard3()'>
    <section class="mx-auto my-5" style="max-width: 23rem;">
        
      <div class="testimonial-card mt-2 mb-3">
        <div class="card-up aqua-gradient"></div>
        <div class="avatar mx-auto white">
          <img src="\assets\Mosiac_logo.png" class="rounded-circle img-fluid"
            alt="woman avatar">
        </div>
        <div class="card-body text-center">
          <h4 class="card-title font-weight-bold frontCard">eCommerce Intern</h4>
          <hr>
          <p><b>Mosiac Sales Solutions</b></p>
          <p><i class="fas fa-quote-left">May 2020 - Aug 2020</i> </p>
        </div>
      </div>
      
    </section>
  <div class="card__face card__face--back">
    <section class="mx-auto my-5" style="max-width: 23rem;">
        
      <div class=" testimonial-card mt-2 mb-3">
        <div class="card-up aqua-gradient"></div>
        <div class="avatar mx-auto white">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2831%29.jpg" class="rounded-circle img-fluid"
            alt="woman avatar">
        </div>
        <div class="card-body text-center">
          <h4 class="card-title font-weight-bold">Test</h4>
          <hr>
          <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
            adipisci</p>
        </div>
      </div>
      
    </section>
  </div>
  </div>

</div>

  </div>

