.about-container{
    font-family: 'Inter', sans-serif;

    max-width: 100vw;
    // Temporary fix for disable hover
    // margin-top: 100vh;
    height: 100vh;
    // background-image: linear-gradient(#015871, rgb(29, 53, 125));
    // background-image: linear-gradient(rgb(29, 53, 125), rgb(9, 21, 59));

    // color: white;
}

.about-overview{
    margin-left: 260px;
    width: 80%;
    height: 20%;
    border-radius: 25px;
    background-color: wheat;
}

h1{
    font-size: 3rem;
}