
<app-bubble-background></app-bubble-background>
<div class="about-container">
  <!-- <div class="about-me">
    <div class="description">
      <h1> Who am I?</h1>
             <img src="/assets/headshot.jpg" class="img-fluid rounded-start" alt="..."> 

      <p> Aside from coding, I love cooking, climbing, and hanging out with friends. Most of all, I love experimenting and trying
        new things! That's why instead of building a boring normal website, I've themed this one around the ocean 🐚</p>
    </div>
  </div> -->


  <!-- Carousel options -->
  <!-- https://codepen.io/alvaromontoro/pen/ZERmQYd -->
  <!-- https://codepen.io/tianyili/pen/qBEdeoy -->
  <!-- https://codepen.io/t_afif/pen/QWrdZLG -->

  <div class="about-me">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
        
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title big">Who am I?</h5>
            <p class="card-text">I'm a fourth-year student who loves technology.  </p> <br>
            <p class="card-text">In my free time, I love rock climbing, playing piano and hanging out with friends. I love meeting new people</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>



  <app-projects></app-projects>

</div>



