
.main-content {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // This is because of resume, can remove later once formatting is fixed
    margin-left: -0.9em;
    // background:radial-gradient(ellipse at center, rgb(225, 191, 159) 0%, rgb(237, 196, 163)35%, #4eced5 70%);
    background: #DAE2F8;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to top, #D6A4A4, #DAE2F8);  /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to top, #d78585, #bbc2d4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #D6A4A4, #DAE2F8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

}

.headers {
    text-align: center;
    margin-top: -10rem;
}

.headers h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 3.75rem;
    color:#6c6b6b;
    // text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e60073, 0 0 20px #e60073, 0 0 25px #e60073, 0 0 30px #e60073, 0 0 35px #e60073;
}

.headers h3 {
    margin-top: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.75rem;
    font-weight: 300;
    color: rgb(0, 0, 0);
}

.headers p {
    margin-top: 1rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    max-width: 600px;
}

.resume{
    width: 100vw;
    height: 100vh;
}

.headshot {
    height: 450px;
    width: 330px;
    border-radius: 15px;
    object-fit: cover;
    margin-top: 2rem;
}

@media screen and (max-width: 600px) {
   .headers h1{
        margin-top: 1rem;
   }
   .headers p {
    margin-top: 1rem;
   }
}

