<div class="resume-container">
    <div class="resume-header-container">
        <h1 class="resume-header"> Resume </h1>
    </div>
    <div class="intro-description">
        <h1> Who am I </h1>
        <h2>Computer Science Student @ Western University</h2>
        <h3>I am a third-year computer science student who is interested in AI, game
            development, web development and full-stack development. I have
            industry experience in coding applications using Java and working with
            tools like Jira, Confluence, and Bitbucket.</h3>
    </div>
    <div class="technical-details">
        <h1> Resume </h1>
        <h2>Computer Science Student @ Western University</h2>
        <h3>I am a third-year computer science student who is interested in AI, game
            development, web development and full-stack development. I have
            industry experience in coding applications using Java and working with
            tools like Jira, Confluence, and Bitbucket.</h3>
    </div>
</div>
