*{
    // font-family: 'Roboto', sans-serif;
        font-family: 'Inter', sans-serif;
}

.resume-header{
    text-align: center;
    align-self: center;
    margin:auto;
}

.resume-container{
    // height: 100vh;
    // max-width: 100vw;
    // margin-bottom: -5rem;
    // display: flex;
    max-width: 90vw;
    margin-left: 10vw;
    height: 100vh;
    // margin-left: -0.5em;
    // background-image: linear-gradient(#015871, rgb(29, 53, 125));
    // color: white;
    // align-items: center;
    // background-color: #e899dc;
     // Temporary fix for hover effect
    // margin-top: -100vh;
}


.section-header{
    font-size: 3rem;
    font-weight: 500;
    color: rgb(255, 153, 0);
    text-decoration: underline;
    text-underline-offset: 14px;
}

.experience-header{
    font-size: 3rem;
    font-weight: 500;
}

.intro-description{
    max-width: 100vw;
    // margin-left: 12.5vw;
    // z-index:500;
    align-items: center;
    margin: 0;
    padding: 0;
    align-self: center;
    // text-align: center;
}

// https://codepen.io/josetxu/pen/WNprEbw

// https://www.sliderrevolution.com/resources/css-cards/