<!-- <app-sidebar></app-sidebar> -->
<section class="flex-container">
    <!-- <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div> -->
    <app-overview></app-overview>

</section>
<div class="resume">
    <app-resume></app-resume>
</div>
<div class="about">
    <app-about></app-about>
</div>
<!-- <app-cards></app-cards> -->

<!-- Cool water effects -->
<!-- https://freefrontend.com/css-water-effects/ -->






<!-- Resume seems to be shifting everything very slightly left -->

<!-- https://csshint.com/css-wave-animation/ -->