body {
    margin: 0;

  }
  
  $bubble-count: 25;
  $sway-type: "sway-left-to-right", "sway-right-to-left";
  
  @function random_range($min, $max) {
    $rand: random();
    $random_range: $min + floor($rand * (($max - $min) + 1));
    @return $random_range;
  }
  
  @function sample($list) {
    @return nth($list, random(length($list)));
  }
  
  .bubbles {
    position: absolute;
    width: 100vw;
    // height: 120vh;
    height: 380vh;
    left: 0vw;
    top: 100vh;
    overflow: hidden;

    // ISSUE LIES IN Z INDEX

    z-index: -1;
    // background-image: linear-gradient(rgb(29, 53, 125), rgb(9, 21, 59));
    background-image: linear-gradient(#015871, rgb(9, 21, 59));

  }
  
  .bubble {
    position: absolute;
    // position: relative;
    left: var(--bubble-left-offset);
    bottom: -75%;
    display: block;
    width: var(--bubble-radius);
    height: var(--bubble-radius);
    border-radius: 50%;
    animation: float-up var(--bubble-float-duration) var(--bubble-float-delay) ease-in infinite;
  
    &::before {
      position: absolute;
      content: '';
      top: -20vh;
      left: 0;
      width: 100%;
      height: 100%;
      background: hsla(0, 0%, 100%, 0.2);
      border-radius: inherit;
      animation: var(--bubble-sway-type) var(--bubble-sway-duration) var(--bubble-sway-delay) ease-in-out alternate infinite;
    }
  
    @for $i from 0 through $bubble-count {
      &:nth-child(#{$i}) {
        --bubble-left-offset: #{random_range(0vw, 100vw)};
        --bubble-radius: #{random_range(1vw, 5vw)};
        // Play with float duration ranges to adjust where bubbles dissapear
        --bubble-float-duration: #{random_range(10s, 15s)};
        --bubble-sway-duration: #{random_range(4s, 6s)};
        --bubble-float-delay: #{random_range(0s, 4s)};
        --bubble-sway-delay: #{random_range(0s, 4s)};
        --bubble-sway-type: #{sample($sway-type)};
      }
    }
  }
  
  @keyframes float-up {
    to {
      // transform: translateY(-175vh);
      transform: translateY(-335vh);
      opacity: 0;
      // transition: visibility 0s 2s, opacity 2s linear;
      transition: visibility 0s 4.5s, opacity 4.5s linear;
      // visibility used to be 6s
    }
  }
  
  @keyframes sway-left-to-right {
    from {
      transform: translateX(-100%);
    }
  
    to {
      transform: translateX(100%);
    }
  }
  
  @keyframes sway-right-to-left {
    from {
      transform: translateX(100%);
    }
  
    to {
      transform: translateX(-100%);
    }
  }
